\[EXOTIC\] AVR Kit-backups/
fp-info-cache
*.lck
_autosave*
\#auto_saved_files\#
board2pdf.config.ini
archive_3d_models.log
out.log
/gitignore inside
swap_stubs.log
*.kicad_sch-bak
/Gerber
/AVR_Kit_RevL4.4
\[EXOTIC\] AVR Kit L4.4.kicad_pro
\[EXOTIC\] AVR Kit L4.4.kicad_pcb
/\[EXOTIC\] AVR Kit L4.4-backups
*.kicad_prl
